<!DOCTYPE html>
<html lang="ja">
<head>
  <title>スコア入力フォーム</title>
</head>
<body>
  <h1>スコア入力フォーム</h1>
  <p>更新するID,アトラクション,点数を入力してください</p>
  <p>データを削除するときは、削除したいIDを入力、データ削除を選択、点数に-1を入力してください</p>
  <form method="POST" action="/edit">
    <div>
      <label for="id">ID:</label><br>
      <input type="number" id="id" name="id" required>
      <p></p>
    </div>
    <div>
      <label for="kind">アトラクション:</label><br>
      <input type="radio" id="kind" name="kind" value="curling" required>カーリングシミュレーター　
      <input type="radio" id="kind" name="kind" value="fencing">SAMURAI　
      <input type="radio" id="kind" name="kind" value="hockey">ハンドエアホッケー　
      <input type="radio" id="kind" name="kind" value="scrollaction">体走　
      <input type="radio" id="kind" name="kind" value="delete">データ削除
      <p></p>
    </div>
    <div>
      <label for="score">点数:</label><br>
      <input type="number" id="score" name="score" required>
      <p></p>
    </div>
    <button type="submit">登録</button>
    <button type="reset">リセット</button>
  </form>
  <p>編集ログ</p>
  <div>
    <% log.reverse().forEach((row) => { %>
    <%= row %>
    </br>
    <% }) %>
  </div>
</body>
</html>
