<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<style>
body{
    font-family:"Noto Sans JP", sans-serif;
    margin: 20px;
    width: 100vw;
    height: 100vh;
    background-color:aliceblue;
}
</style>
<body>
    <h1>ログインページ</h1>
    <form action="/login" method="post">
        <div>
            <label>ID:　　　　</label>
            <input type="text" name="username" required>
        </div>
        <p></p>
        <div>
            <label>パスワード:</label>
            <input type="password" name="password" required>
        </div>
        <p></p>
        <div>
            <input type="submit" value="ログイン"/>
        </div>
    </form>
</body>
</html>